/*Ensures everything follows this box sizing property*/
* {
  box-sizing: border-box;
}
  
/* sets padding and bg color*/
body {
  background-color: #f1f1f1;
  padding: 20px; 
} 
  
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

/* Defines margin of each row*/
.row {
  margin: 8px -16px;
}
  
/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}
  
/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}
  
/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
/* Content */
.content {
  background-color: white;
  padding: 10px;
}
  
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
  
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

hr{
  height: 2px;
  background-color: #993333;
}